@import "../../../scss/_components/components.scss";

.slider-projects {
  margin-right: -10px;
  margin-left: -10px;
  height: calc(100vh - 80px);

  .slider-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 330px;
    padding: 0px 10px;
    margin: 0 auto;
    float: left; // This is necessary for non-mobile view

    @media only screen and (min-height: 500px) {
      margin-bottom: 45px;
    }

    a {
      text-decoration: none !important;
      position: relative;
      z-index: 5;
    }

    .read-more-button {
      display: none;
    }

    .phases-chart {
      @include mobile {
        // height: 35%;
        margin-top: 10px;
      }
    }

    .phases-chart__info {
      padding: 0 px;
      height: 50px;
      font-size: 0.8em;
      -webkit-clip-path: polygon(0% 0%, 98% 0%, 88% 90%, 17% 100%);
      clip-path: polygon(0% 0%, 98% 0%, 88% 90%, 17% 100%);
      background-color: $slider-item-bg;
      color: $title-primary;

      .col {
        line-height: 2.5;
        padding: 0px;

        @include mobile {
          padding-left: 15px;
          padding-right: 12px;
        }
      }

      .still-needed {
        color: $text-primary;
        text-transform: uppercase;
        line-height: initial;
      }
    }

    .phases-chart__graph {
      svg {
        margin-top: 10px;
        height: 80px;
      }
    }

    button.read-more {
      background-color: $button-bg;
      width: 90%;
      margin: 10px auto;
      display: block;
      line-height: 2.2;
      border-radius: 0;
      text-transform: uppercase;

      @include mobile {
        font-size: 0.9em;
        line-height: 2.8;
        margin-top: 10px;
        // margin-bottom: 0;
      }
    }
  }
}

$slider-projects__img-height-mobile: 250px;

.slider-projects__img {
  height: 380px;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 96%, 68% 45%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 96%, 68% 45%, 0 50%, 0 0);

  @include mobile {
    height: $slider-projects__img-height-mobile + 10;
  }
}

.slider-projects__about {
  position: absolute;
  top: 0;
  background-color: $slider-item-bg;
  height: 365px;
  width: 310px;
  background-size: cover;
  -webkit-clip-path: polygon(0 55%, 65% 50%, 97% 100%, 0% 100%);
  clip-path: polygon(0 55%, 65% 50%, 97% 100%, 0% 100%);

  @include mobile {
    height: $slider-projects__img-height-mobile;
  }
}

.slider-projects__description {
  @include text-wrap;
  .slider-projects {
    .slick-arrow {
      position: absolute;
      top: 20%;
      z-index: 1;
    }
    .slick-prev {
      left: 30px !important;
    }
    .slick-next {
      right: 30px !important;
    }
  }
  position: absolute;
  top: 54%;
  padding: 5px 0 0 10px;
  width: 75%;
  text-align: left;
}

.slider-projects__title {
  @include text-wrap;
  text-transform: uppercase;
  color: $title-primary;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.2em;
  width: 80%;
  height: 2.4em;
  overflow: hidden;
}

.slider-projects .displayed-text {
  font-size: 0.9em;
  color: $title-secondary;
  line-height: 1em;
  display: inline-block;
}

.slider-projects__read-more {
  @include mobile {
    height: 8%;
    margin-top: 5px;
  }
}

.slider-projects {
  .slick-arrow {
    position: absolute;
    top: 20%;
    z-index: 1;
  }
  .slick-prev {
    left: 30px !important;
  }
  .slick-next {
    right: 30px !important;
  }
}
