@import "../../../../scss/_components/components.scss";

.milestone-wrap {
  width: 100%;
  margin: 10px;
  background-color: $bg-white;
  padding: 15px;
  box-shadow: 0px 0px 5px $bg-secondary;

    @media only screen and (max-width: 546px) {
    padding: 12px 10px;
  }
}

.info-text {
  @media only screen and (max-width: 546px) {
    font-size: 14px;
  }
}
.milestone-wrap__text-wrap {
  width: 50%;
  float: right;
  text-align: right;
  padding-right: 20px;
}

.milestone-wrap__text {
  line-height: 1.2em;
}

.milestone-wrap__title {
  font-size: 18px;
  padding-left: 20px;
  color: $title-secondary;

    @media only screen and (max-width: 546px) {
    font-size: 12px;
    padding-left: 20px;
    font-weight: 500;
  }
}

.milestone-wrap .info-eth {
  font-size: 18px;
  font-weight: 500;
  color: $title-primary;
}

.milestone-wrap .info-eur {
  font-size: .8em;
  color: $title-secondary;
}