@import "../../../../scss/_components/components.scss";

.phases-chart__info {
  padding: 0 7% 0 14%;
  height: 50px;
  -webkit-clip-path: polygon(0% 0%, 98% 0%, 88% 90%, 17% 100%);
  clip-path: polygon(0% 0%, 98% 0%, 88% 90%, 17% 100%);
  background-color: $phase-chart-info-bg;
  font-size: 13px;
  color: $title-primary;

  @include mobile {
    padding: 0 7%;
    font-size: 12px;
  }

  .col {
    line-height: 2.5;
  }

  .still-needed {
    color: $text-primary;
    text-transform: uppercase;
    font-size: 10px;
    line-height: initial;

    .phases-chart__text {
      font-size: 10px;
      color: $title-secondary;
    }

    .needed-int {
      font-size: 20px;
    }
  }

  .phases-chart__text {
    font-size: 20px;
    font-weight: 500;
    color: $title-primary;
  }
}

.phases-chart__graph {
  position: relative;

  img {
    width: 20px;
    clip-path: none;
    -webkit-clip-path: none;
    position: absolute;
    right: -9px;
    top: 17px;
    height: initial;
  }

  .path {
    stroke-dasharray: 1000;
    //stroke-dashoffset: 1000;
    animation: dash 5s ease alternate;
  }

  .path-line {
    stroke-dasharray: 1000;
    //stroke-dashoffset: 1000;
  }
}

.graph-details {
  @media only screen and (max-width: 546px) {
    padding-bottom: 80px;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-lines {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
