body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: $bg-primary;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
}
