//breakpoints
$mobile: 767px;

//fonts
$font-size: 16px;
$font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

// global colors
$c-primary: #a63442;
$c-secondary: #323d4f;

// global background colors
// $bg-primary: #fbfbfa;
$bg-primary: #F6F6F6;
$bg-secondary: #f1eee5;
$bg-white: #fff;

//text
$title-primary: $c-primary;
$title-secondary: $c-secondary;
$text-primary: #9ca2aa;

//buttons
$button-bg: $c-secondary;

//slider
$slider-item-bg: #fff;

//phase chart
$phase-chart-info-bg: #fff;
