.headline h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 1em;
}


.how-box-wrapper, .headline {
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
max-width: 800px;
}


.how-box {
    width: 300px;
    line-height: 1em;
    margin: 30px;

    h2, .description {
        padding-left: 10px;
    }

    h2 {
        font-size: 1.2em;
        color:     #a02534

    }
    img {
        width: 33%;
    }

    img.fullwidth {
        width: 100%;
    }

    .description {
        font-size: 0.9em;
        margin-bottom: 15px;
    }
}


.FAQ {
    margin-top: 50px;
    justify-content: left;
    h1 {font-size: 2em;}
    
    .question {
        font-weight: 600;
        margin-top: 20px;
    }
}

//    #323d4f

