@import "../../../scss/_components/components.scss";

.header {
  padding: 5px 0;

  span {
    color: $title-primary;
  }
}

.header__img {
  height: 1em;
  padding-right: 5px;
}

.header__how-it-work {
  font-size: 0.8rem;
  text-align: right;
  font-weight: 600;

  @include mobile {
    padding-right: 0;
  }

  .nav-link {
    color: $title-secondary;

    @include mobile {
      font-size: 12px;
      padding: 0;
    }
  }
}

.header__logo-text {
  font-size: 16px !important;
  color: $title-secondary;

  @include mobile {
    font-size: 12px !important;
  }
}

.header__logo-text.navbar-brand {
  display: flex;
  align-items: center;
}
