@import "../../scss/_components/components.scss";

.modal-body {
    text-align: center;
}

.modalInput {
    margin: 12px;
    width: 7em;
    text-align: right;

    border: 0;
    outline: 0;
    border-bottom: 1px solid;
}

.payPopup__ETH {
    color: $title-primary;
    font-weight: 500
}