@import "../../scss/_components/components.scss";

.section {
  padding-bottom: 120px;


  @media only screen and (max-width: 546px) {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
  }

  .text-area {
    padding-left: 30px;
  }

  .add-margin {
    margin-top: 50px;
  }

  .rah-static--height-auto {
    margin-bottom: 20px;
  }

  .display-text-group span {
    color: $title-secondary;
    line-height: 1.2em;
    display: block;
  }

  .read-more-button {
    text-align: center;
    margin: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: $title-primary;
    font-weight: 500;
    margin-left: -10px;

    @media only screen and (max-width: 546px) {
      font-size: 12px;
    }
  }


  .legal-contact {
    margin-top: 30px;

    p {
      font-weight: 500;
      margin-bottom: 0;
      font-size: 14px;
      color: $title-primary;

      @media only screen and (max-width: 546px) {
        font-size: 12px;
      }
    }

    span {
      font-weight: 500;
      color: $title-secondary;
      font-weight: 500;

      @media only screen and (max-width: 546px) {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .external {
    margin-bottom: 40px;
  }


  // .phases-chart__info {
  //   @media only screen and (max-width: 546px) {
  //     padding: 0 10% 0 18%;
  //   }

  //   .col {
  //     @media only screen and (max-width: 546px) {
  //       padding-left: 5px;
  //       padding-right: 5px;
  //     }

  //     @media only screen and (max-width: 321px) {
  //       padding-left: 0;
  //       padding-right: 0;
  //     }
  //   }
  // }
}

.section__header-img {
  width: auto;
  height: 250px;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 25% 75%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 25% 75%, 0 85%, 0 0);
  margin-left: -15px;
  margin-right: -15px;

  @media only screen and (max-width: 546px) {
    height: 234px;
  }
}

.section__title {
  // margin-top: -25px;
  margin-bottom: 10px;
  font-size: 1.6em;
  width: 80%;
  color: $title-secondary;
  text-transform: uppercase;
  font-weight: 600;

  @media only screen and (max-width: 546px) {
    font-size: 1.3em;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #collapse-block .collapse {
    display: block;
  }
}

.collapse-block__icon {
  width: 10px;
  margin-top: -5px;
  margin-right: 5px;
}

.collapse-block__title {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: $title-primary;
}

.read-milestone.nav-link {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
  color: $title-secondary;
}

.bottomcover {
  position: fixed;
  bottom: 0px;
  width: 100%;
  // left: 0;
  height: 120px;
  // text-decoration: none !important;
  z-index: 5;
  background: $bg-primary;
}

.go-back {
  position: absolute;
  bottom: 40px;
  background-color: $title-primary;
  left: 0;
  width: 60px;

  @media only screen and (max-width: 546px) {
    width: 50px;
    height: 50px;
  }

  .chevron-left {
    margin: 16px auto;
    width: 15px;
    display: block;
  }

  .chevron-left {
    @media only screen and (max-width: 546px) {
      width: 10px;
    }
  }
}

.help-fund.btn {
  position: absolute;
  bottom: 40px;
  left: 60px;
  right: 0;
  margin: auto;
  width: 340px;
  background-color: $title-secondary;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  padding: 0px;
  // font-weight: 100;

  @media only screen and (max-width: 546px) {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    width: 240px;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}