@import "../../../scss/_components/components.scss";

.footer__wrap {
  // width: 50%;

  @include mobile {
    width: auto;
  }
}

.footer__link.nav-link {
  color: $title-secondary;

  @include mobile {
    font-size: 12px;
    padding-right: 0;
    padding-left: 0;
  }
}
