@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/segoeui.woff2") format("woff2"),
    url("../assets/fonts/segoeui.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/segoeui-bold.woff2") format("woff2"),
    url("../assets/fonts/segoeui-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/segoeui-semibold.woff2") format("woff2"),
    url("../assets/fonts/segoeui-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
